<!DOCTYPE html>
<html lang="de">
  <head>
    {% block head %}
    <title>{% block title %}{{config.title}}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex">
    <meta name="description" content="{{config.description}}">
    <meta name="language" content="German">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{get_url(path="css/bootstrap.min.css")}}"/>
    <script src="{{get_url(path="js/img.js")}}"></script>
    {% if config.build_search_index %}
    <script defer src="{{get_url(path="js/elasticlunr.min.js")}}"></script>
    <script defer src="{{get_url(path="search_index.en.js")}}"></script>
    <script src="{{get_url(path="js/search.js")}}"></script>
    {% endif %}
    {% endblock %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% if config.extra.banner %}
      <div class="w-100">
        <a href="{{config.base_url}}"><img src="{{get_url(path=config.extra.banner)}}" class="w-100" alt="Open Sauce Banner Image"/ width="800" height="474"></a>
      </div>
    {% endif %}
    {% if config.extra.inverted and config.extra.bg == 'light' %}
    {% set nav_type = "dark" %}
    {% elif not config.extra.inverted and config.extra.bg != 'light' %}
    {% set nav_type = "dark" %}
    {% else %}
    {% set nav_type = "light" %}
    {% endif %}
    <nav class="
      navbar
      navbar-expand-lg
      navbar-{{nav_type}}
      bg-{{config.extra.bg}}
    ">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor02"
          aria-controls="navbarColor02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">

	{% for menu in config.extra.menu %}
	    <ul id="foobar">
            {% if menu.name == "Open-Sauce" %}
            <li><a>{{ menu.name }}</a><li>
            {% else %}
	        <li><a href="{{config.base_url}}/categories/{{ menu.name | lower }}" id="navcat">{{ menu.name }}</a></li>
            {% endif %}
	            <ul class="navbar-nav me-auto">
	                {% for link in menu.links %}
	                <li class="nav-item">
	                <a
	                  class="nav-link"
	                  href="{% if not link.url is containing("://") %}{{config.base_url}}{% endif %}{{link.url}}"
	                >{{link.title}}</a>
	              </li>
	            {% endfor %}
	        </ul>
	    </ul>
	{% endfor %}
	</div>

            {% if config.extra.themes %}
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  {{config.extra.themes}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for theme in config.extra.data_themes %}
                    <li>
                      <a
                        class="dropdown-item"
                        href="#"
                        onclick="switchTheme('{{theme}}')"
                      >{{theme | capitalize}}</a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
            {% if config.extra.schemes %}
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  {{config.extra.schemes}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for scheme in config.extra.data_schemes %}
                    <li>
                      <a
                        class="dropdown-item"
                        href="#"
                        onclick="switchScheme('{{scheme}}')"
                      >{{scheme | capitalize}}</a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          </ul>
          <div id="searchdiv">
          {% if config.build_search_index %}
          <form class="d-flex" onsubmit="return goSearch(event)">
            <input
              class="form-control me-sm-2"
              type="text"
              placeholder="{{config.extra.search}}"
            />
            <button
              class="btn btn-secondary my-2 my-sm-0"
              type="submit"
            ><img src="{{config.base_url}}img/search.svg" style="width: 15px; filter: invert(75%)" alt="Search Icon"</img></button>
          </form>
          {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <main class="container mx-auto my-5">
      {% block content %}
      {% endblock %}
    </main>
    {% block scripts %}
    {% endblock %}
    {% if config.extra.email or config.extra.icons | length %}
    <footer class="
      mt-auto p-5
      bg-{{config.extra.bg}}
      text-center
      text-{% if nav_type == "dark" %}white{% else %}black{% endif %}
    ">
      {% if config.extra.email %}
      <a
        href="mailto:{{config.extra.email}}"
        class="text-reset text-decoration-none"
      >{{config.extra.email}}</a>
      {% endif %}
      {% if config.extra.icons | length %}
      <div class="mt-2">
        <span class="copyleft"> Copyleft by {{config.title}} | </span>
        {% for icon in config.extra.icons %}
          <a
            class="text-reset mx-1 bg-transparent"
            href="{{icon.url}}"
            {% if icon.title %}title="{{icon.title}}"{% endif %}
          ><img src="{{config.base_url}}img/{{icon.icon}}.svg" style="width: 15px; filter: invert(75%)" alt="Socialmedia Icon for {{icon.icon}}"</img></a>
        {% endfor %}
        <a href="/Impressum" style="color: white">| Impressum und Datenschutz</a>
      </div>
      {% endif %}
    </footer>
    {% endif %}
  </body>
</html>
